apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kubearmor-operator
    repo: https://kubearmor.github.io/charts
    version: v1.4.1
    releaseName: kubearmor-operator
    namespace: kubearmor
    valuesFile: value_overrides.yaml

resources:
  - namespace.yaml

commonAnnotations:
    client.lifecycle.config.k8s.io/mutation: ignore

namespace: kubearmor