apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: agents

resources:
  - namespace.yaml

helmCharts:
  - name: accuknox-agents
    repo: "oci://registry-1.docker.io/accuknox"
    releaseName: agents
    namespace: agents
    version: v0.7.3
    valuesFile: value_overrides.yaml

commonAnnotations:
  client.lifecycle.config.k8s.io/mutation: ignore

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /metadata/annotations/config.kubernetes.io~1depends-on
        value: |
            apps/namespaces/amc-helper/Deployment/amc-helper,
            apps/namespaces/kubearmor/Deployment/kubearmor-operator,
            /namespaces/agents/ConfigMap/onboarding-vars
  - path: config-patch.yaml