apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: accuknox-agents
    repo: "oci://registry-1.docker.io/accuknox"
    releaseName: agents
    namespace: agents
    version: v0.6.7
    valuesFile: values.yaml

namespace: agents